<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find multi_legged_description)/urdf/base/base.gazebo.xacro"/>
  
  <property name="body_length" value="0.5"/>
  <property name="body_width" value="0.3"/>
  <property name="body_height" value="0.15"/>
  <property name="body_mass" value="5.0"/>

  <xacro:macro name="base" params="parent *joint_origin">
	<joint name="base_link_joint" type="fixed">
	  <insert_block name="joint_origin"/>
	  <parent link="${parent}"/>
	  <child link="base_link"/>
	</joint>

	<link name="base_link">
	  <visual>
        <geometry>
            <box size="${body_length} ${body_width} ${body_height}"/>
        </geometry>
	  </visual>
	  <collision>
        <geometry>
            <box size="${body_length} ${body_width} ${body_height}"/>
        </geometry>
	  </collision>
	  <inertial>
		<mass value="0.1"/>
		<inertia
			ixx="${body_mass / 12.0 * (body_width * body_width + body_height * body_height)}" ixy="0.0" ixz="0.0"
			iyy="${body_mass / 12.0 * (body_height * body_height + body_length * body_length)}" iyz="0.0"
			izz="${body_mass / 12.0 * (body_length * body_length + body_width * body_width)}"/>
	  </inertial>
	</link>
  </xacro:macro>
  
</robot>
