<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <property name="body_length" value="0.175"/>
  <property name="body_width" value="0.125"/>
  <property name="body_height" value="0.005"/>
  <property name="body_mass" value="0.906"/>
  <property name="LF_base_clause_length" value="0.0543014558389"/>
  <property name="LF_thigh_length" value="0.0841244885175"/>
  <property name="LF_tibia_length" value="0.0396983618451"/>
  <property name="RF_base_clause_length" value="0.0543014558389"/>
  <property name="RF_thigh_length" value="0.0841244885175"/>
  <property name="RF_tibia_length" value="0.0396983618451"/>
  <property name="LM_base_clause_length" value="0.0353295988473"/>
  <property name="LM_thigh_length" value="0.0589304214401"/>
  <property name="LM_tibia_length" value="0.0680620821834"/>
  <property name="RM_base_clause_length" value="0.0353295988473"/>
  <property name="RM_thigh_length" value="0.0589304214401"/>
  <property name="RM_tibia_length" value="0.0680620821834"/>
  <property name="LH_base_clause_length" value="0.0378630471656"/>
  <property name="LH_thigh_length" value="0.0540392220357"/>
  <property name="LH_tibia_length" value="0.0193031182761"/>
  <property name="RH_base_clause_length" value="0.0378630471656"/>
  <property name="RH_thigh_length" value="0.0540392220357"/>
  <property name="RH_tibia_length" value="0.0193031182761"/>
  <property name="base_clause_radius" value="0.015"/>
  <property name="thigh_radius" value="0.015"/>
  <property name="tibia_radius" value="0.015"/>
  <property name="appendix_radius" value="0.015"/>
  <property name="base_clause_mass" value="0.072"/>
  <property name="thigh_mass" value="0.043"/>
  <property name="tibia_mass" value="0.033"/>
  <property name="appendix_mass" value="0.0001"/>
  <property name="base_clause_torque" value="3"/>
  <property name="thigh_torque" value="3"/>
  <property name="tibia_torque" value="3"/>
  <property name="base_clause_velocity" value="100"/>
  <property name="thigh_velocity" value="100"/>
  <property name="tibia_velocity" value="100"/>
  <property name="F_base_clause_roll" value="0.386575779953"/>
  <property name="F_base_clause_pitch" value="0.881073903602"/>
  <property name="F_base_clause_yaw" value="-0.139259573103"/>
  <property name="F_thigh_roll" value="-0.791925864894"/>
  <property name="F_thigh_pitch" value="-0.0870024464969"/>
  <property name="F_thigh_yaw" value="0.0868573765066"/>
  <property name="F_tibia_roll" value="0.349694010971"/>
  <property name="F_tibia_pitch" value="-0.813425736189"/>
  <property name="F_tibia_yaw" value="0.60089920819"/>
  <property name="M_base_clause_roll" value="0.110968425929"/>
  <property name="M_base_clause_pitch" value="-0.14842391286"/>
  <property name="M_base_clause_yaw" value="-0.450658808796"/>
  <property name="M_thigh_roll" value="-2.09459588444"/>
  <property name="M_thigh_pitch" value="0.215609959099"/>
  <property name="M_thigh_yaw" value="0.306038289855"/>
  <property name="M_tibia_roll" value="0.236611051846"/>
  <property name="M_tibia_pitch" value="-0.199813469837"/>
  <property name="M_tibia_yaw" value="0.119170052381"/>
  <property name="H_base_clause_roll" value="0.117245105432"/>
  <property name="H_base_clause_pitch" value="-0.5645249414"/>
  <property name="H_base_clause_yaw" value="0.208520105026"/>
  <property name="H_thigh_roll" value="-1.63798500118"/>
  <property name="H_thigh_pitch" value="-0.0976683299058"/>
  <property name="H_thigh_yaw" value="0.163845232712"/>
  <property name="H_tibia_roll" value="0.0490048228553"/>
  <property name="H_tibia_pitch" value="0.137735827042"/>
  <property name="H_tibia_yaw" value="-0.485372406702"/>
  <property name="LF_base_clause_rpy" value="${F_base_clause_roll} ${F_base_clause_pitch} ${F_base_clause_yaw}"/>
  <property name="LF_thigh_rpy" value="${F_thigh_roll} ${F_thigh_pitch} ${F_thigh_yaw}"/>
  <property name="LF_tibia_rpy" value="${F_tibia_roll} ${F_tibia_pitch} ${F_tibia_yaw}"/>
  <property name="LM_base_clause_rpy" value="${M_base_clause_roll} ${M_base_clause_pitch} ${M_base_clause_yaw}"/>
  <property name="LM_thigh_rpy" value="${M_thigh_roll} ${M_thigh_pitch} ${M_thigh_yaw}"/>
  <property name="LM_tibia_rpy" value="${M_tibia_roll} ${M_tibia_pitch} ${M_tibia_yaw}"/>
  <property name="LH_base_clause_rpy" value="${H_base_clause_roll} ${H_base_clause_pitch} ${H_base_clause_yaw}"/>
  <property name="LH_thigh_rpy" value="${H_thigh_roll} ${H_thigh_pitch} ${H_thigh_yaw}"/>
  <property name="LH_tibia_rpy" value="${H_tibia_roll} ${H_tibia_pitch} ${H_tibia_yaw}"/>
  <property name="RF_base_clause_rpy" value="${-F_base_clause_roll} ${F_base_clause_pitch} ${-F_base_clause_yaw}"/>
  <property name="RF_thigh_rpy" value="${-F_thigh_roll} ${F_thigh_pitch} ${-F_thigh_yaw}"/>
  <property name="RF_tibia_rpy" value="${-F_tibia_roll} ${F_tibia_pitch} ${-F_tibia_yaw}"/>
  <property name="RM_base_clause_rpy" value="${-M_base_clause_roll} ${M_base_clause_pitch} ${-M_base_clause_yaw}"/>
  <property name="RM_thigh_rpy" value="${-M_thigh_roll} ${M_thigh_pitch} ${-M_thigh_yaw}"/>
  <property name="RM_tibia_rpy" value="${-M_tibia_roll} ${M_tibia_pitch} ${-M_tibia_yaw}"/>
  <property name="RH_base_clause_rpy" value="${-H_base_clause_roll} ${H_base_clause_pitch} ${-H_base_clause_yaw}"/>
  <property name="RH_thigh_rpy" value="${-H_thigh_roll} ${H_thigh_pitch} ${-H_thigh_yaw}"/>
  <property name="RH_tibia_rpy" value="${-H_tibia_roll} ${H_tibia_pitch} ${-H_tibia_yaw}"/>
  <property name="F_distance" value="0.1"/>
  <property name="M_distance" value="0.1"/>
  <property name="H_distance" value="0.1"/>
</robot>
