<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <property name="body_length" value="0.175"/>
  <property name="body_width" value="0.125"/>
  <property name="body_height" value="0.005"/>
  <property name="body_mass" value="0.906"/>
  <property name="LF_base_clause_length" value="0.0451306572955"/>
  <property name="LF_thigh_length" value="0.0904114166575"/>
  <property name="LF_tibia_length" value="0.0952371379665"/>
  <property name="RF_base_clause_length" value="0.0451306572955"/>
  <property name="RF_thigh_length" value="0.0904114166575"/>
  <property name="RF_tibia_length" value="0.0952371379665"/>
  <property name="LM_base_clause_length" value="0.0250366649238"/>
  <property name="LM_thigh_length" value="0.0529808912553"/>
  <property name="LM_tibia_length" value="0.066237874888"/>
  <property name="RM_base_clause_length" value="0.0250366649238"/>
  <property name="RM_thigh_length" value="0.0529808912553"/>
  <property name="RM_tibia_length" value="0.066237874888"/>
  <property name="LH_base_clause_length" value="0.0215705611625"/>
  <property name="LH_thigh_length" value="0.0851208085557"/>
  <property name="LH_tibia_length" value="0.08353939503"/>
  <property name="RH_base_clause_length" value="0.0215705611625"/>
  <property name="RH_thigh_length" value="0.0851208085557"/>
  <property name="RH_tibia_length" value="0.08353939503"/>
  <property name="base_clause_radius" value="0.015"/>
  <property name="thigh_radius" value="0.015"/>
  <property name="tibia_radius" value="0.015"/>
  <property name="appendix_radius" value="0.015"/>
  <property name="base_clause_mass" value="0.072"/>
  <property name="thigh_mass" value="0.043"/>
  <property name="tibia_mass" value="0.033"/>
  <property name="appendix_mass" value="0.0001"/>
  <property name="base_clause_torque" value="3"/>
  <property name="thigh_torque" value="3"/>
  <property name="tibia_torque" value="3"/>
  <property name="base_clause_velocity" value="100"/>
  <property name="thigh_velocity" value="100"/>
  <property name="tibia_velocity" value="100"/>
  <property name="F_base_clause_roll" value="-0.3814808971"/>
  <property name="F_base_clause_pitch" value="-0.118428846817"/>
  <property name="F_base_clause_yaw" value="0.00140736034132"/>
  <property name="F_thigh_roll" value="-2.11763174393"/>
  <property name="F_thigh_pitch" value="0.331942961077"/>
  <property name="F_thigh_yaw" value="0.366388494261"/>
  <property name="F_tibia_roll" value="-0.260957579506"/>
  <property name="F_tibia_pitch" value="-0.641131287432"/>
  <property name="F_tibia_yaw" value="0.481770516505"/>
  <property name="M_base_clause_roll" value="0.00936009607769"/>
  <property name="M_base_clause_pitch" value="0.520755676688"/>
  <property name="M_base_clause_yaw" value="0.0718280169367"/>
  <property name="M_thigh_roll" value="-1.49539003737"/>
  <property name="M_thigh_pitch" value="0.230992944217"/>
  <property name="M_thigh_yaw" value="-0.388120103252"/>
  <property name="M_tibia_roll" value="0.534646846126"/>
  <property name="M_tibia_pitch" value="0.549932982694"/>
  <property name="M_tibia_yaw" value="0.260989152877"/>
  <property name="H_base_clause_roll" value="-0.198360463081"/>
  <property name="H_base_clause_pitch" value="-0.28562397587"/>
  <property name="H_base_clause_yaw" value="-0.376259305732"/>
  <property name="H_thigh_roll" value="-1.01237264059"/>
  <property name="H_thigh_pitch" value="-0.15517689889"/>
  <property name="H_thigh_yaw" value="-0.435841017199"/>
  <property name="H_tibia_roll" value="0.673024292008"/>
  <property name="H_tibia_pitch" value="0.302343511398"/>
  <property name="H_tibia_yaw" value="-0.0227653741985"/>
  <property name="LF_base_clause_rpy" value="${F_base_clause_roll} ${F_base_clause_pitch} ${F_base_clause_yaw}"/>
  <property name="LF_thigh_rpy" value="${F_thigh_roll} ${F_thigh_pitch} ${F_thigh_yaw}"/>
  <property name="LF_tibia_rpy" value="${F_tibia_roll} ${F_tibia_pitch} ${F_tibia_yaw}"/>
  <property name="LM_base_clause_rpy" value="${M_base_clause_roll} ${M_base_clause_pitch} ${M_base_clause_yaw}"/>
  <property name="LM_thigh_rpy" value="${M_thigh_roll} ${M_thigh_pitch} ${M_thigh_yaw}"/>
  <property name="LM_tibia_rpy" value="${M_tibia_roll} ${M_tibia_pitch} ${M_tibia_yaw}"/>
  <property name="LH_base_clause_rpy" value="${H_base_clause_roll} ${H_base_clause_pitch} ${H_base_clause_yaw}"/>
  <property name="LH_thigh_rpy" value="${H_thigh_roll} ${H_thigh_pitch} ${H_thigh_yaw}"/>
  <property name="LH_tibia_rpy" value="${H_tibia_roll} ${H_tibia_pitch} ${H_tibia_yaw}"/>
  <property name="RF_base_clause_rpy" value="${-F_base_clause_roll} ${F_base_clause_pitch} ${-F_base_clause_yaw}"/>
  <property name="RF_thigh_rpy" value="${-F_thigh_roll} ${F_thigh_pitch} ${-F_thigh_yaw}"/>
  <property name="RF_tibia_rpy" value="${-F_tibia_roll} ${F_tibia_pitch} ${-F_tibia_yaw}"/>
  <property name="RM_base_clause_rpy" value="${-M_base_clause_roll} ${M_base_clause_pitch} ${-M_base_clause_yaw}"/>
  <property name="RM_thigh_rpy" value="${-M_thigh_roll} ${M_thigh_pitch} ${-M_thigh_yaw}"/>
  <property name="RM_tibia_rpy" value="${-M_tibia_roll} ${M_tibia_pitch} ${-M_tibia_yaw}"/>
  <property name="RH_base_clause_rpy" value="${-H_base_clause_roll} ${H_base_clause_pitch} ${-H_base_clause_yaw}"/>
  <property name="RH_thigh_rpy" value="${-H_thigh_roll} ${H_thigh_pitch} ${-H_thigh_yaw}"/>
  <property name="RH_tibia_rpy" value="${-H_tibia_roll} ${H_tibia_pitch} ${-H_tibia_yaw}"/>
  <property name="F_distance" value="0.1"/>
  <property name="M_distance" value="0.1"/>
  <property name="H_distance" value="0.1"/>
</robot>
