<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <property name="body_length" value="0.175"/>
  <property name="body_width" value="0.125"/>
  <property name="body_height" value="0.005"/>
  <property name="body_mass" value="0.906"/>
  <property name="LF_base_clause_length" value="0.0719345888972"/>
  <property name="LF_thigh_length" value="0.0906519587947"/>
  <property name="LF_tibia_length" value="0.0761882600609"/>
  <property name="RF_base_clause_length" value="0.0719345888972"/>
  <property name="RF_thigh_length" value="0.0906519587947"/>
  <property name="RF_tibia_length" value="0.0761882600609"/>
  <property name="LM_base_clause_length" value="0.0565377655651"/>
  <property name="LM_thigh_length" value="0.0508611106735"/>
  <property name="LM_tibia_length" value="0.0768242188016"/>
  <property name="RM_base_clause_length" value="0.0565377655651"/>
  <property name="RM_thigh_length" value="0.0508611106735"/>
  <property name="RM_tibia_length" value="0.0768242188016"/>
  <property name="LH_base_clause_length" value="0.0547678457249"/>
  <property name="LH_thigh_length" value="0.0704324735201"/>
  <property name="LH_tibia_length" value="0.103822404611"/>
  <property name="RH_base_clause_length" value="0.0547678457249"/>
  <property name="RH_thigh_length" value="0.0704324735201"/>
  <property name="RH_tibia_length" value="0.103822404611"/>
  <property name="base_clause_radius" value="0.015"/>
  <property name="thigh_radius" value="0.015"/>
  <property name="tibia_radius" value="0.015"/>
  <property name="appendix_radius" value="0.015"/>
  <property name="base_clause_mass" value="0.072"/>
  <property name="thigh_mass" value="0.043"/>
  <property name="tibia_mass" value="0.033"/>
  <property name="appendix_mass" value="0.0001"/>
  <property name="base_clause_torque" value="3"/>
  <property name="thigh_torque" value="3"/>
  <property name="tibia_torque" value="3"/>
  <property name="base_clause_velocity" value="100"/>
  <property name="thigh_velocity" value="100"/>
  <property name="tibia_velocity" value="100"/>
  <property name="F_base_clause_roll" value="-0.148443094653"/>
  <property name="F_base_clause_pitch" value="-0.0448158907838"/>
  <property name="F_base_clause_yaw" value="-0.3783825915"/>
  <property name="F_thigh_roll" value="-1.19682709574"/>
  <property name="F_thigh_pitch" value="-0.310723468122"/>
  <property name="F_thigh_yaw" value="0.271283932619"/>
  <property name="F_tibia_roll" value="-0.0125904600981"/>
  <property name="F_tibia_pitch" value="-0.279776533751"/>
  <property name="F_tibia_yaw" value="-0.707717097228"/>
  <property name="M_base_clause_roll" value="1.0411221856"/>
  <property name="M_base_clause_pitch" value="0.33762287526"/>
  <property name="M_base_clause_yaw" value="-0.353290910762"/>
  <property name="M_thigh_roll" value="-0.251384312788"/>
  <property name="M_thigh_pitch" value="-0.013327314499"/>
  <property name="M_thigh_yaw" value="-0.166494253808"/>
  <property name="M_tibia_roll" value="0.149945228522"/>
  <property name="M_tibia_pitch" value="0.229996486801"/>
  <property name="M_tibia_yaw" value="0.127655861314"/>
  <property name="H_base_clause_roll" value="0.0394419188817"/>
  <property name="H_base_clause_pitch" value="-0.0178870612715"/>
  <property name="H_base_clause_yaw" value="0.558464170342"/>
  <property name="H_thigh_roll" value="-1.48016572278"/>
  <property name="H_thigh_pitch" value="0.0306056984835"/>
  <property name="H_thigh_yaw" value="0.146705998961"/>
  <property name="H_tibia_roll" value="0.183227371132"/>
  <property name="H_tibia_pitch" value="-0.398150262339"/>
  <property name="H_tibia_yaw" value="-0.411501750323"/>
  <property name="LF_base_clause_rpy" value="${F_base_clause_roll} ${F_base_clause_pitch} ${F_base_clause_yaw}"/>
  <property name="LF_thigh_rpy" value="${F_thigh_roll} ${F_thigh_pitch} ${F_thigh_yaw}"/>
  <property name="LF_tibia_rpy" value="${F_tibia_roll} ${F_tibia_pitch} ${F_tibia_yaw}"/>
  <property name="LM_base_clause_rpy" value="${M_base_clause_roll} ${M_base_clause_pitch} ${M_base_clause_yaw}"/>
  <property name="LM_thigh_rpy" value="${M_thigh_roll} ${M_thigh_pitch} ${M_thigh_yaw}"/>
  <property name="LM_tibia_rpy" value="${M_tibia_roll} ${M_tibia_pitch} ${M_tibia_yaw}"/>
  <property name="LH_base_clause_rpy" value="${H_base_clause_roll} ${H_base_clause_pitch} ${H_base_clause_yaw}"/>
  <property name="LH_thigh_rpy" value="${H_thigh_roll} ${H_thigh_pitch} ${H_thigh_yaw}"/>
  <property name="LH_tibia_rpy" value="${H_tibia_roll} ${H_tibia_pitch} ${H_tibia_yaw}"/>
  <property name="RF_base_clause_rpy" value="${-F_base_clause_roll} ${F_base_clause_pitch} ${-F_base_clause_yaw}"/>
  <property name="RF_thigh_rpy" value="${-F_thigh_roll} ${F_thigh_pitch} ${-F_thigh_yaw}"/>
  <property name="RF_tibia_rpy" value="${-F_tibia_roll} ${F_tibia_pitch} ${-F_tibia_yaw}"/>
  <property name="RM_base_clause_rpy" value="${-M_base_clause_roll} ${M_base_clause_pitch} ${-M_base_clause_yaw}"/>
  <property name="RM_thigh_rpy" value="${-M_thigh_roll} ${M_thigh_pitch} ${-M_thigh_yaw}"/>
  <property name="RM_tibia_rpy" value="${-M_tibia_roll} ${M_tibia_pitch} ${-M_tibia_yaw}"/>
  <property name="RH_base_clause_rpy" value="${-H_base_clause_roll} ${H_base_clause_pitch} ${-H_base_clause_yaw}"/>
  <property name="RH_thigh_rpy" value="${-H_thigh_roll} ${H_thigh_pitch} ${-H_thigh_yaw}"/>
  <property name="RH_tibia_rpy" value="${-H_tibia_roll} ${H_tibia_pitch} ${-H_tibia_yaw}"/>
  <property name="F_distance" value="0.1"/>
  <property name="M_distance" value="0.1"/>
  <property name="H_distance" value="0.1"/>
</robot>
