<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <property name="body_length" value="0.175"/>
  <property name="body_width" value="0.125"/>
  <property name="body_height" value="0.005"/>
  <property name="body_mass" value="0.906"/>
  <property name="LF_base_clause_length" value="0.045"/>
  <property name="LF_thigh_length" value="0.0750890468346"/>
  <property name="LF_tibia_length" value="0.0646896403404"/>
  <property name="RF_base_clause_length" value="0.045"/>
  <property name="RF_thigh_length" value="0.0750890468346"/>
  <property name="RF_tibia_length" value="0.0646896403404"/>
  <property name="LM_base_clause_length" value="0.0397463208385"/>
  <property name="LM_thigh_length" value="0.061590727323"/>
  <property name="LM_tibia_length" value="0.067214944541"/>
  <property name="RM_base_clause_length" value="0.0397463208385"/>
  <property name="RM_thigh_length" value="0.061590727323"/>
  <property name="RM_tibia_length" value="0.067214944541"/>
  <property name="LH_base_clause_length" value="0.0419821031007"/>
  <property name="LH_thigh_length" value="0.0704810545525"/>
  <property name="LH_tibia_length" value="0.0717969648207"/>
  <property name="RH_base_clause_length" value="0.0419821031007"/>
  <property name="RH_thigh_length" value="0.0704810545525"/>
  <property name="RH_tibia_length" value="0.0717969648207"/>
  <property name="base_clause_radius" value="0.015"/>
  <property name="thigh_radius" value="0.015"/>
  <property name="tibia_radius" value="0.015"/>
  <property name="appendix_radius" value="0.015"/>
  <property name="base_clause_mass" value="0.072"/>
  <property name="thigh_mass" value="0.043"/>
  <property name="tibia_mass" value="0.033"/>
  <property name="appendix_mass" value="0.0001"/>
  <property name="base_clause_torque" value="3"/>
  <property name="thigh_torque" value="3"/>
  <property name="tibia_torque" value="3"/>
  <property name="base_clause_velocity" value="100"/>
  <property name="thigh_velocity" value="100"/>
  <property name="tibia_velocity" value="100"/>
  <property name="F_base_clause_roll" value="-0.0468869185432"/>
  <property name="F_base_clause_pitch" value="-0.170405825092"/>
  <property name="F_base_clause_yaw" value="0.154512014007"/>
  <property name="F_thigh_roll" value="-1.51515439853"/>
  <property name="F_thigh_pitch" value="-0.0485709854566"/>
  <property name="F_thigh_yaw" value="0.372941297475"/>
  <property name="F_tibia_roll" value="-0.313642110878"/>
  <property name="F_tibia_pitch" value="0.128127665757"/>
  <property name="F_tibia_yaw" value="-0.116080366826"/>
  <property name="M_base_clause_roll" value="0.170401668565"/>
  <property name="M_base_clause_pitch" value="-0.0960398470996"/>
  <property name="M_base_clause_yaw" value="-0.0742336197959"/>
  <property name="M_thigh_roll" value="-1.70564022335"/>
  <property name="M_thigh_pitch" value="-0.0847900813276"/>
  <property name="M_thigh_yaw" value="0.209635989666"/>
  <property name="M_tibia_roll" value="0.0644728760025"/>
  <property name="M_tibia_pitch" value="-0.113269241333"/>
  <property name="M_tibia_yaw" value="-0.136907772574"/>
  <property name="H_base_clause_roll" value="0.0665234934008"/>
  <property name="H_base_clause_pitch" value="-0.276323668428"/>
  <property name="H_base_clause_yaw" value="0.0378413738606"/>
  <property name="H_thigh_roll" value="-1.55155577618"/>
  <property name="H_thigh_pitch" value="0.0767816147201"/>
  <property name="H_thigh_yaw" value="-0.25198736634"/>
  <property name="H_tibia_roll" value="-0.14767112604"/>
  <property name="H_tibia_pitch" value="0.0591904519258"/>
  <property name="H_tibia_yaw" value="0.131112191232"/>
  <property name="LF_base_clause_rpy" value="${F_base_clause_roll} ${F_base_clause_pitch} ${F_base_clause_yaw}"/>
  <property name="LF_thigh_rpy" value="${F_thigh_roll} ${F_thigh_pitch} ${F_thigh_yaw}"/>
  <property name="LF_tibia_rpy" value="${F_tibia_roll} ${F_tibia_pitch} ${F_tibia_yaw}"/>
  <property name="LM_base_clause_rpy" value="${M_base_clause_roll} ${M_base_clause_pitch} ${M_base_clause_yaw}"/>
  <property name="LM_thigh_rpy" value="${M_thigh_roll} ${M_thigh_pitch} ${M_thigh_yaw}"/>
  <property name="LM_tibia_rpy" value="${M_tibia_roll} ${M_tibia_pitch} ${M_tibia_yaw}"/>
  <property name="LH_base_clause_rpy" value="${H_base_clause_roll} ${H_base_clause_pitch} ${H_base_clause_yaw}"/>
  <property name="LH_thigh_rpy" value="${H_thigh_roll} ${H_thigh_pitch} ${H_thigh_yaw}"/>
  <property name="LH_tibia_rpy" value="${H_tibia_roll} ${H_tibia_pitch} ${H_tibia_yaw}"/>
  <property name="RF_base_clause_rpy" value="${-F_base_clause_roll} ${F_base_clause_pitch} ${-F_base_clause_yaw}"/>
  <property name="RF_thigh_rpy" value="${-F_thigh_roll} ${F_thigh_pitch} ${-F_thigh_yaw}"/>
  <property name="RF_tibia_rpy" value="${-F_tibia_roll} ${F_tibia_pitch} ${-F_tibia_yaw}"/>
  <property name="RM_base_clause_rpy" value="${-M_base_clause_roll} ${M_base_clause_pitch} ${-M_base_clause_yaw}"/>
  <property name="RM_thigh_rpy" value="${-M_thigh_roll} ${M_thigh_pitch} ${-M_thigh_yaw}"/>
  <property name="RM_tibia_rpy" value="${-M_tibia_roll} ${M_tibia_pitch} ${-M_tibia_yaw}"/>
  <property name="RH_base_clause_rpy" value="${-H_base_clause_roll} ${H_base_clause_pitch} ${-H_base_clause_yaw}"/>
  <property name="RH_thigh_rpy" value="${-H_thigh_roll} ${H_thigh_pitch} ${-H_thigh_yaw}"/>
  <property name="RH_tibia_rpy" value="${-H_tibia_roll} ${H_tibia_pitch} ${-H_tibia_yaw}"/>
  <property name="F_distance" value="0.1"/>
  <property name="M_distance" value="0.1"/>
  <property name="H_distance" value="0.1"/>
</robot>
