<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:macro name="thigh_gazebo" params="prefix">
	<gazebo reference="${prefix}_thigh_link">
	  <selfCollide>false</selfCollide>
      <mu1 value="0.4" />
      <mu2 value="0.4" />
      <material>Gazebo/Yellow</material>
    </gazebo>
  </xacro:macro>
</robot>