<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="thigh_trans" params="prefix">
	<transmission name="${prefix}_thigh_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}_thigh_joint">
		<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
	  <actuator name="${prefix}_thigh_motor">
		<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
		<mechanicalReduction>30</mechanicalReduction>
      </actuator>
	</transmission>
  </xacro:macro>
  
</robot>