<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- ===============  Body params =============== -->
  <property name="body_length" value="0.5"/>
  <property name="body_width" value="0.3"/>
  <property name="body_height" value="0.15"/>
  <property name="body_mass" value="5.0"/>

  <!-- ===============  Leg params =============== -->
  <!-- length -->
  <property name="LF_base_clause_length" value="0.05"/>
  <property name="LF_thigh_length" value="0.2"/>
  <property name="LF_tibia_length" value="0.35"/>
  <property name="RF_base_clause_length" value="0.05"/>
  <property name="RF_thigh_length" value="0.2"/>
  <property name="RF_tibia_length" value="0.35"/>

  <property name="LM_base_clause_length" value="0.05"/>
  <property name="LM_thigh_length" value="0.2"/>
  <property name="LM_tibia_length" value="0.3"/>
  <property name="RM_base_clause_length" value="0.05"/>
  <property name="RM_thigh_length" value="0.2"/>
  <property name="RM_tibia_length" value="0.3"/>

  <property name="LH_base_clause_length" value="0.05"/>
  <property name="LH_thigh_length" value="0.2"/>
  <property name="LH_tibia_length" value="0.4"/>
  <property name="RH_base_clause_length" value="0.05"/>
  <property name="RH_thigh_length" value="0.2"/>
  <property name="RH_tibia_length" value="0.4"/>
  
  <!-- radius -->
  <property name="base_clause_radius" value="0.03"/>
  <property name="thigh_radius" value="0.03"/>
  <property name="tibia_radius" value="0.03"/>
  <property name="appendix_radius" value="0.03"/>

  <!-- mass -->
  <property name="base_clause_mass" value="0.1"/>
  <property name="thigh_mass" value="0.6"/>
  <property name="tibia_mass" value="0.7"/>
  <property name="appendix_mass" value="0.05"/>

</robot>