<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find multi_legged_description)/urdf/base_clause/base_clause.urdf.xacro"/>
  <xacro:include filename="$(find multi_legged_description)/urdf/thigh/thigh.urdf.xacro"/>
  <xacro:include filename="$(find multi_legged_description)/urdf/tibia/tibia.urdf.xacro"/>
  <xacro:include filename="$(find multi_legged_description)/urdf/appendix/appendix.urdf.xacro"/>

  <xacro:macro name="leg" params="prefix parent origin_xyz origin_rpy 
                                  base_clause_radius base_clause_length base_clause_rpy base_clause_mass base_clause_torque base_clause_velocity
                                  thigh_radius thigh_length thigh_rpy thigh_mass thigh_torque thigh_velocity
                                  tibia_radius tibia_length tibia_rpy tibia_mass tibia_torque tibia_velocity
                                  appendix_radius appendix_mass">
    <!-- ===============  Link & Joint =============== -->
    <xacro:base_clause prefix="${prefix}" parent="${parent}" 
                                          radius="${base_clause_radius}"
                                          length="${base_clause_length}"
                                          mass="${base_clause_mass}"
                                          torque="${base_clause_torque}"
                                          velocity="${base_clause_velocity}">
    <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
    <axis xyz="0 0 1"/>
    </xacro:base_clause>

    <xacro:thigh prefix="${prefix}"
                 radius="${thigh_radius}"
                 length="${thigh_length}"
                 mass="${thigh_mass}"
                 torque="${thigh_torque}"
                 velocity="${thigh_velocity}">
    <origin xyz="${base_clause_length} 0.0 0.0" rpy="${thigh_rpy}"/>
    <axis xyz="0 0 1"/>
    </xacro:thigh>

    <xacro:tibia prefix="${prefix}"
                 radius="${tibia_radius}"
                 length="${tibia_length}"
                 mass="${tibia_mass}"
                 torque="${tibia_torque}"
                 velocity="${tibia_velocity}">
    <origin xyz="${thigh_length} 0.0 0.0" rpy="${tibia_rpy}"/>
    <axis xyz="0 0 1"/>
    </xacro:tibia>

    <xacro:appendix prefix="${prefix}"
                    radius="${appendix_radius}"
                    mass="${appendix_mass}">
    <origin xyz="${tibia_length} 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <axis xyz="0 0 1"/>
    </xacro:appendix>

    <!-- ===============  Transmission =============== -->
    <xacro:base_clause_trans prefix="${prefix}"/>
    <xacro:thigh_trans prefix="${prefix}"/>
    <xacro:tibia_trans prefix="${prefix}"/>
    <xacro:appendix_trans prefix="${prefix}"/>

    <!-- =============== Gazebo =============== -->
    <xacro:base_clause_gazebo prefix="${prefix}"/>
    <xacro:thigh_gazebo prefix="${prefix}"/>
    <xacro:tibia_gazebo prefix="${prefix}"/>
    <xacro:appendix_gazebo prefix="${prefix}"/>

  </xacro:macro>
</robot>
  