<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find multi_legged_description)/urdf/base_clause/base_clause.urdf.xacro"/>
  <xacro:include filename="$(find multi_legged_description)/urdf/thigh/thigh.urdf.xacro"/>
  <xacro:include filename="$(find multi_legged_description)/urdf/tibia/tibia.urdf.xacro"/>

  <xacro:macro name="leg" params="prefix parent origin_xyz origin_rpy">
    <xacro:base_clause prefix="${prefix}" parent="${parent}">
    <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
    <axis xyz="0 0 1"/>
    </xacro:base_clause>

    <xacro:thigh prefix="${prefix}">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 ${-M_PI/2} 0.0"/>
    <axis xyz="0 1 0"/>
    </xacro:thigh>

    <xacro:tibia prefix="${prefix}">
    <origin xyz="0.0 0.0 ${-thigh_length}" rpy="0.0 ${M_PI/2} 0.0"/>
    <axis xyz="0 1 0"/>
    </xacro:tibia>

    <!-- ===============  Transmission =============== -->
    <xacro:base_clause_trans prefix="${prefix}"/>
    <xacro:thigh_trans prefix="${prefix}"/>
    <xacro:tibia_trans prefix="${prefix}"/>

    <!-- =============== Gazebo =============== -->
    <xacro:base_clause_gazebo prefix="${prefix}"/>
    <xacro:thigh_gazebo prefix="${prefix}"/>
    <xacro:tibia_gazebo prefix="${prefix}"/>

  </xacro:macro>
</robot>
  